body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    background-color: rgb(0, 0, 0);
    /* background: radial-gradient(circle, rgba(255, 255, 255, 0.096) 200%, rgba(226, 226, 226, 0.027) 200%); */
}

/* TODOS LOS TEXTOS */
h4, h2,small,a{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.Carousel{
    width: 100%;
    margin: 0px 60px;
}

/*TITULO PRINCIPAL DEL CONTENEDOR*/
.Carousel h2{
    font-size: 26px;
    line-height: 38px;
    padding-bottom: 24px;
    opacity: .9;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
    color: rgb(237, 174, 0);
}

/* CONTENEDOR DEL CARRUSEL COMPLETO (IMAGENES + BOTONES) */

.slick-list{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 304px;
    padding: 10px 0px;
    margin: 0px auto;
    max-width: 90vw;
    overflow: hidden;

}

/*CONTENEDOR DE LAS IMAGENES DEL CARRUSEL (SIN CONTENER A LOS BOTONES) */
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}

/* FORMATO DE CONTENDOR DEL ELEMENTO */
.slick{
    position: relative;
    width: 275px;
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}

/************************************************************/
/*TEXTO ELEMENTOS*/
/************************************************************/

/* TEXTO DENTRO DEL ELEMENTO DEL CARRUSEL */
.slick h4{
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 23px;
    color: rgb(255, 115, 8);
    padding: 15px;
}

/* TITULO DENTRO DE CADA ELEMENTO DEL CARRUSEL */
.slick h4 small{
    font-size: 15px;
    display: block;
}

/* IMAGEN DE CADA ELEMENTO */
.slick a img{
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.116);
    transition: .3s ease-in-out;
}
.slick a img:hover{
    opacity: .85;
}

/************************************************************/
/* BOTONES DEL CARRUSEL  */
/************************************************************/

/* FORMATO DEL CONTENEDOR DEL BOTON */
.slick-arrow{
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(68, 62, 62, 0.818);
    border: 0;
    cursor: pointer;
}
.slick-arrow:focus{
    outline: 0;
}

/*ESTILO DEL SIMBOLO DEL BOTON */
.slick-arrow svg{
    width: 12px;
    height: 100%;
    color: rgb(237, 174, 0);
}

/*POSICION LATERAL DE LOS BOTONES*/
.slick-prev{
    left: 0px;
}
.slick-next{
    right: 0px;
}

@media (max-width: 530px) {
    .slick-next {
        right: 50px;
    }

    .slick-list{
        width: 360px;
        /* padding-right: 30px; */
    }

    .Carousel{
        width: 275px;
        margin: 0px auto;
        overflow: hidden;

    }

    /*TITULO PRINCIPAL DEL CONTENEDOR*/
    /* .Carousel h2{
        font-size: 26px;
        line-height: 38px;
        padding-bottom: 24px;
        opacity: .9;
        text-transform: uppercase;
        letter-spacing: 10px;
        text-align: center;
        color: rgb(237, 174, 0);
    } */

  }